# Firebase Configuration (Public)
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyAV9r7a6g7f-CEwUltCelIWd-gGEhNdurM"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="medhome-e2dd2.firebaseapp.com""
NEXT_PUBLIC_FIREBASE_PROJECT_ID="medhome-e2dd2"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="medhome-e2dd2.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="345713405310"
NEXT_PUBLIC_FIREBASE_APP_ID="1:345713405310:web:de1a8e4e0d2852b136972f"

# Application Configuration
NEXT_PUBLIC_APP_URL="http://localhost:3000"
AUTH_SECRET="replace-with-a-long-random-string"

# Firebase Admin SDK (Server-side only)
